<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd 
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd 
	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd 
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<context:component-scan base-package="main.ryan" />
	<mvc:annotation-driven />
	<mvc:resources mapping="/**" location="/" />

	<!-- Configuring interceptors based on URI -->
	<!-- <mvc:interceptors>
      <bean class="main.gg.team.java.authority.presentation.Interceptor.AuthorityInterceptor" />
    </mvc:interceptors>  -->

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		p:prefix="/WEB-INF/views/" p:suffix=".jsp" />
	<!-- 資料庫 -->
	<!-- <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:comp/env/jdbc/gg"></property>
	</bean> -->
	
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"
	p:maxUploadSize="30960000" p:maxInMemorySize="1024" />

	<!-- SessionFactory -->
	<!-- <bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation">
			<value>classpath:hibernate.cfg.xml</value>
		</property>
	</bean> -->

	<!-- 事務管理器 -->
	<!-- <bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean> -->
	<!-- annotation事務管理 -->
	<!-- <tx:annotation-driven transaction-manager="transactionManager" /> -->

	<!-- DAO -->
<!-- 	<bean id="attractionDAO" parent="GenericDAO"> -->
<!-- 		<constructor-arg ref="attractionVo"></constructor-arg> -->
<!-- 	</bean> -->
	
	<!-- <util:properties id="settingsource" location="/META-INF/setting.properties" /> -->
	
	

</beans>
